<div class="row">
  <div class="col-6">
    <mat-form-field appearance="none">
      <mat-label>Select APP</mat-label>
      <mat-select disableRipple (selectionChange)="onAppChange($event)">
        <mat-option *ngFor="let app of appList" [value]="app.payload.doc.data().databaseName">
          {{ app.payload.doc.data().appName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

</div>
<mat-divider></mat-divider>
<div class="row mt-4">
  <div class="col-6">
    <cdk-virtual-scroll-viewport itemSize="400" class="scroll-container">
      <div *ngFor="let item of categoryList" class="scroll-item">
        <mat-card class="example-card">
          <p>{{item.payload.doc.data().name}}</p>
          <img mat-card-image [src]="item.payload.doc.data().url"
            alt="Photo of a Shiba Inu">
          <mat-card-actions>
            <button class="btn btn-danger" (click)="deleteCategory(item)" mat-button>DELETE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="col-6">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Category Name</label>
        <input  type="text" class="form-control"  #name placeholder="Enter Category">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">DataBase Name</label>
        <input  type="text" class="form-control"  placeholder="Database Name" #database_Name>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Image URL</label>
        <input  type="text" class="form-control" placeholder="Image  URL" #url_>
      </div>
      <mat-form-field>
        <mat-label>Select Type :</mat-label>
        <mat-select [(value)]="type">
          <mat-option value="video">
            Youtube App
          </mat-option>
          <mat-option value="image">
            Facebook App
          </mat-option>
        </mat-select>
      </mat-form-field>
      {{type}}
      <button type="submit" (click)="createCategory(name.value,database_Name.value,url_.value)" class="btn btn-success" mat-button>ADD</button>
    </form>
  </div>
</div>
