<div class="row">
  <div class="col-6">
    <mat-form-field appearance="none">
      <mat-label>Select APP</mat-label>
      <mat-select disableRipple (selectionChange)="onBookChange($event)">
        <mat-option *ngFor="let app of appList" [value]="app.databaseName">
          {{app.appName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

</div>
<mat-divider></mat-divider>
<div class="row mt-4">
  <div class="col-6">
    <cdk-virtual-scroll-viewport itemSize="400" class="scroll-container">
      <div *ngFor="let item of appList" class="scroll-item">
        <mat-card class="example-card">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu">
          <mat-card-actions>
            <button mat-button>DELETE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="col-6">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Category Name</label>
        <input  type="text" class="form-control"  [(ngModel)]="category_Name" placeholder="Enter Category">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">DataBase Name</label>
        <input  type="text" class="form-control"  placeholder="Database Name" [(ngModel)]="database_Name">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Image URL</label>
        <input  type="text" class="form-control" placeholder="Image  URL" [(ngModel)]="url_">
      </div>
      <button type="submit" (click)="createCategory()" class="btn btn-success" mat-button>ADD</button>
    </form>
  </div>
</div>
