<div class="row">
  <div class="col-6">
    <mat-form-field appearance="none">
      <mat-label>APP Name</mat-label>
      <mat-select disableRipple (selectionChange)="selectApp($event)">
        <mat-option *ngFor="let app of appList" [value]="app.databaseName">
          {{app.appName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <div class="col-6">
    <mat-form-field appearance="none">
      <mat-label>Category Name</mat-label>
      <mat-select disableRipple (selectionChange)="selectCategory($event)" >
        <mat-option *ngFor="let food of youtubeList" [value]="food">
          {{food}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<mat-divider></mat-divider>
<div class="row mt-4">
  <div class="col-6">
    <cdk-virtual-scroll-viewport itemSize="400" class="scroll-container">
      <div *ngFor="let item of youtubeList" class="scroll-item">
        <mat-card class="example-card">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu">
          <mat-card-actions>
            <button mat-button>DELETE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="col-6">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">ID</label>
        <input type="text" [(ngModel)]="id" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter ID">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">URL</label>
        <input [(ngModel)]="url" type="text" class="form-control" id="exampleInputPassword1" placeholder="URL">
      </div>
      <div class="form-group">
        <button type="submit" (click)="addItem()" class="btn btn-primary form-control">Submit</button>

      </div>
    </form>
  </div>
</div>
