<div class="container pt-3">
    <tr >
      <td class="">
        <mat-form-field appearance="none">
          <mat-label>Number Of Questions :</mat-label>
          <mat-select disableRipple   >
            <mat-option *ngFor="let num of temp" [value]="num">
              {{num}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="none">
          <mat-label>Number Of Questions :</mat-label>
          <mat-select disableRipple   >
            <mat-option *ngFor="let num of temp" [value]="num">
              {{num}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="none">
          <mat-label>Number Of Questions :</mat-label>
          <mat-select disableRipple   >
            <mat-option *ngFor="let num of temp" [value]="num">
              {{num}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="none">
          <mat-label>Number Of Questions :</mat-label>
          <mat-select disableRipple   >
            <mat-option *ngFor="let num of temp" [value]="num">
              {{num}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr *ngFor="let item of temp;let i = index" class="row mt-3">
      <td style="width: 1000px;">
        <mat-card>
          <table>
            <tr>
              <td>
                <mat-form-field appearance="none">
                  <mat-label>Number Of Questions :</mat-label>
                  <mat-select disableRipple   >
                    <mat-option *ngFor="let num of temp" [value]="num">
                      {{num}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <mat-form-field class="example-full-width"  style="width: 900px; height: 100px;">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..." style="height: 100px;"></textarea>
              </mat-form-field>
            </tr>
          </table>
          <mat-card-actions class="mt-3">
            <tr>
              <td>
                <button class="btn btn-danger" style="width: 100px;" mat-raised-button (click)="deleteButtonClick(i)">DELETE</button>
              </td>
              <td>
                <button class="btn btn-primary" style="width: 100px;" mat-raised-button (click)="createNewButtonClick(i)">NEW +</button>
              </td>
              <td>
                <button class="btn btn-success" style="width: 200px;" mat-raised-button (click)="saveButtonClick(i)">SAVE</button>
              </td>
            </tr>
          </mat-card-actions>
        </mat-card>
      </td>
    </tr>
    <tr>
      <div class="p-3">
        <ul style="" >
          <li class="li-style"  >
            <i class="fas fa-share"></i> sasa
          </li>
          <li class="li-style" >
            <i class="fas fa-share"></i> sds
          </li>
        </ul>
      </div>
    </tr>
    <tr>
      <button style="width: 500px;"  mat-raised-button class="btn btn-success form-control mt-3 mb-3">ADD</button>
    </tr>



</div>
