<div class="row mt-4">
  <div class="col-6">
    <cdk-virtual-scroll-viewport itemSize="400" class="scroll-container">
      <div *ngFor="let item of appList" class="scroll-item">
        <mat-card class="example-card">
          <p><strong>App Name :</strong> {{ item.payload.doc.data().appName }}</p>
          <p><strong>Database Name :</strong> {{ item.payload.doc.data().databaseName }}</p>
          <p><strong>Type :</strong> {{ item.payload.doc.data().type }}</p>


          <mat-card-actions>
            <button class="btn btn-danger" (click)="deleteApp(item)" mat-button>DELETE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="col-6">
    <div>
      <div class="form-group">
        <label for="exampleInputEmail1">App Name :</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="appName"
          placeholder="App Name">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Database Name :</label>
        <input  [(ngModel)]="databaseName" type="text" class="form-control" id="exampleInputPassword1" placeholder="Database Name">
      </div>

      <button type="submit" class="btn btn-success"  (click)="addApp()" mat-button>ADD</button>
    </div>
  </div>
</div>
